

.navdropBtn {
    cursor: pointer; 
    padding: 10px ; 
    background-color: #e7c60c; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s; 
    width:130px !important;
    font-size: 14px;
    margin: .2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navdropBtn:hover {
    background-color: #c6a009; /* Darker shade on hover */
    transform: translateY(-2px); 
}
